
<h2>Code Challenge for Software Engineer</h2>

<p>
    Submission by Daniel Catipon<br />
    <br />
    A simple book searching interface built primarily using Google Books API, ASP.NET (C#/Razor), Bootstrap, and JQuery.
    <br />
</p>


<h3>Objective</h3>
<p>
    To build a simple interface for college students to find textbooks for classes in which they are enrolled,
     using the Amazon Product Advertising API or alternatives such as Google Books API or New York Times 
    Bestsellers List API. This interface should search for BOOKS only and not other products. 
    That is, products suitable for a classroom.  Once searched, the results should be displayed in a 
    simple and easy-to-read manner.
</p>
<p>
    Indvidual titles in search results should include the following information:<br />
    - Book Title<br />
    - Author Name<br />
    - Publisher Name<br />
    - Publication Date<br />
    - Edition (if available)<br />
    - Price<br />
    - Format (i.e. Hardcover, Paperback, Kindle Edition, etc.)<br />
</p>

<h3>Requirements / Setup</h3>
<p>
    To run this project locally, you will need a copy of Visual Studio 2013. The "Express" version is 
    free and can be found by clicking <a href="http://www.visualstudio.com/en-us/products/visual-studio-express-vs.aspx">here</a>.  
    Please be sure to select "Visual Studio Express for Web".  System requirements can also be found at the above link.
</p>

<h3>Configuration</h3>
<p>
    This project uses a Model-View-Controller pattern although there is little server-side utilization.
    Source code for Models, Views, and Controllers are located within their respective folders in the main Solution folder.
    More information about ASP.NET MVC can be found <a href="http://www.asp.net/mvc">here</a>.
</p>

Note: Google Books API does not provide book "Edition" information.